@import 'reset';
@import 'vars';

html {
  background-color: var(--bg-color);
  overflow-x: hidden;
}

body {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
}

.hidden {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.navlist {
  display: flex;
  justify-content: space-between;
  width: 96rem;
  align-items: center;
  margin-top: -2.8rem;
}

.navlist-container {
  display: flex;
  justify-content: center;
  background-image: url(../assets/img/nav-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 12.8rem;
  z-index: 2;
  position: relative;
}

.navlink {
  text-decoration: none;
  color: black;
  font-family: var(--text-font);
  font-weight: bold;
  text-shadow: .1rem .2rem 1rem rgba(0, 0, 0, .5);
}

.navlink:hover {
  color: white;
  cursor: pointer;
}

.landing {
  background-image: url(../assets/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin-top: -12rem;
  z-index: 1;
  padding-top: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.landing-title {
  font-family: var(--title-font);
  font-size: 8.8rem;
  transform: rotate(-8deg);
  margin-top: -25rem;
  text-shadow: -.3rem .3rem rgba(254, 208, 80, 1), -.5rem .5rem white;
}

.landing-undertitle {
  font-family: var(--title-font);
  font-size: 5rem;
  margin-top: 5rem;
  text-shadow: -.2rem .2rem rgba(254, 208, 80, 1);
}

.highlight {
  font-style: italic;
  box-shadow: inset -.1rem -.67rem rgba(254, 208, 80, 1);
}

.highlight-pink {
  font-style: italic;
  box-shadow: inset -.1rem -.67rem rgb(217, 95, 174);
}

.link-try {
  border-radius: 2rem;
  border: .3rem solid black;
  font-size: 1.8rem;
  padding: .6rem;
  font-family: var(--text-font);
  font-weight: 600;
  text-decoration: none;
  color: black;
  text-shadow: -.15rem .25rem white;
  z-index: 10;
  position: relative;
}

.link-try::before {
  cursor: pointer;
  content: ' ';
  position: absolute;
  z-index: -1;
  top: .2rem;
  left: -.7rem;
  right: -.1rem;
  bottom: -.7rem;
  border: .3rem solid rgba(254, 208, 80, 1);
  border-radius: 2rem;
}

.link-try:hover {
  color: white;
  text-shadow: -.15rem .25rem black;
}

.landing-p {
  font-family: var(--text-font);
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 2rem;
  width: 50rem;
  line-height: 2.2rem;
  margin-bottom: 3rem;
}

.underlinedeco {
  background-image: url(../assets/img/taste-underline.png);
  height: 2rem;
  width: 15rem;
  margin-top: .7rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landing-content {
  text-align: left;
  width: 55rem;
  margin-left: 4rem;
}

.babeleir {
  background-image: url(../assets/img/babeleir-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 123.2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.landingimage {
  z-index: 2;
  margin-left: 9rem;
  margin-top: 20.5rem;
}

.waterlanding {
  background-image: url(../assets/img/water-rocks.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 47rem;
  position: absolute;
  width: 100vw;
  min-width: 1700px;
  margin-top: 32rem;
}

.babeleir-title {
  color: rgb(42, 155, 195);
  font-family: var(--text-font);
  font-weight: 600;
  font-size: 3rem;
  text-shadow: -.2rem .2rem rgb(233, 96, 185);
}

.babeleirneon {
  margin-top: 30rem;
  animation: float 3s ease-in-out infinite;
}

.babeleir-text {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.babeleir-undertitle {
  color: white;
  font-size: 9rem;
  font-family: var(--title-font);
  line-height: 4rem;
  margin-top: 1rem;
  height: 20rem;
  padding-top: 4rem;
  background: -webkit-linear-gradient(#269ec6, #b85093);
  /* stylelint-disable */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* stylelint-enable */
}

.mini-title {
  color: rgb(217, 95, 174);
  margin-top: 2rem;
  font-size: 2rem;
  font-family: var(--text-font);
  font-weight: 600;
  margin-bottom: 2rem;
}

.spectitle {
  color: rgb(38, 158, 198);
  font-family: var(--title-font);
  font-size: 3.5rem;
}

.specdesc {
  color: rgb(217, 95, 174);
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 1.6rem;
  max-width: 30rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.bbp {
  background-image: url(../assets/img/background-bbp.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 97.2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: -12rem;
  position: relative;
  z-index: 3;
}

.bbp-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 96rem;
}

.projectlink {
  margin-top: 8rem;
  margin-left: -53rem;
  padding: 1rem;
}

.beerproject-text {
  margin-left: -40rem;
  margin-top: 20rem;
}

.underline-bbp {
  background-image: url(../assets/img/underline-title.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 1rem;
  height: 2rem;
}

.hand {
  background-image: url(../assets/img/arm.png);
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  background-position: center;
  height: 45.2rem;
  width: 30.3rem;
  margin-top: 60rem;
  margin-left: -75rem;
}

@keyframes float {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3rem);
  }

  100% {
    transform: translateY(0);
  }
}

.mannekepis {
  margin-top: 14rem;
  margin-left: 20rem;
  position: absolute;
}

.bbp-title {
  font-family: var(--title-font);
  font-size: 8rem;
  margin-top: -25rem;
  text-shadow: -.3rem .3rem rgba(254, 208, 80, 1), -.5rem .5rem white;
}

.beerproject-p {
  margin-top: 3rem;
  line-height: 2rem;
  width: 50rem;
  font-size: 1.8rem;
  font-family: var(--text-font);
  font-weight: 600;
}

.newyear {
  background-image: url(../assets/img/nye-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 141.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  margin-top: -5rem;
}

.winnensection {
  display: flex;
  justify-content: space-between;
  width: 96rem;
  margin-top: 3rem;
  color: white;
}

.winnentitle {
  font-family: var(--text-font);
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  background: -webkit-linear-gradient(#269ec6, #b85093);
  /* stylelint-disable */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* stylelint-enable */
}

.newyear-title {
  margin-top: 15rem;
  font-family: var(--title-font);
  font-size: 6rem;
  background: -webkit-linear-gradient(#269ec6, #b85093);
  /* stylelint-disable */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* stylelint-enable */
}

.doenarticle {
  margin-top: 6rem;
  color: white;
  text-align: center;
  margin-bottom: 3rem;
}

.pink {
  color: rgb(217, 95, 174);
  font-weight: 600;
  font-size: 2rem;
}

.blue {
  color: rgb(38, 158, 198);
  font-size: 2rem;
  font-weight: 600;
}

.doen-p {
  width: 50rem;
  margin-top: 1rem;
  line-height: 1.8rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.winnen-p {
  width: 35rem;
  font-weight: 500;
  margin-top: 2rem;
  line-height: 2rem;
}

.inputtoplabel {
  color: white;
  font-family: var(--text-font);
  font-weight: bold;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 70rem;
  margin-top: 1rem;
}

.newyearform {
  margin-top: 5rem;
}

.forminput {
  color: white;
  font-size: 1.5rem;
  padding: .5rem;
  margin: .2rem;
  background: none;
  border-width: .2rem;
  height: 4rem;
  width: 30rem;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgb(25, 158, 200), rgb(233, 96, 185)) 10 10%;
}

.number {
  width: 10rem;
}

.right {
  margin-left: 5rem;
}

.submit {
  background-color: rgb(233, 96, 185);
  border: none;
  color: white;
  border-radius: 0;
  padding: 1.8rem;
  box-shadow: inset .4rem -.4rem rgb(38, 158, 198);
  font-family: var(--text-font);
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 3rem;
}

.uploadbtn {
  background-color: rgb(184, 80, 147);
  height: 4rem;
  color: white;
  display: flex;
  padding-top: 1rem;
  padding-left: 2rem;
  width: 19rem;
}

.bbp-footer {
  z-index: 3;
  margin-top: -3rem;
  height: 10rem;
  background-image: url(../assets/img/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
}

.beerleft {
  z-index: 1;
  margin-top: 70rem;
  margin-left: -85rem;
  position: absolute;
}

.error {
  color: red;
}

.beerright {
  z-index: 1;
  margin-top: 70rem;
  margin-left: 85rem;
  position: absolute;
}

.footer-container {
  margin-top: 3rem;
  width: 96rem;
}
